.pagination
{
    display: flex;
    gap: 25px;
    margin: 25px 0;
}
.pagination button
{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
}
.cant-pages
{
    color: #04A105;
    font-size: 1.5rem;
    padding-top: 5px;
}
button
{
    color: #0b4d57;
}
button:hover
{
    background-color: rgba(76, 183, 90, 0.2);
    color: aliceblue;
}